body{
    margin:0 auto;
    width:1100px;
    background-color:#0e0d0d;
}

#health{
    color:#b61111;
}

#attack{
    color:#cac030
}

#defense{
    color:#4073ff
}

h1{
    margin-top:10px;
    background-color:#474747;
    color:#f8f8f8;
    text-align:center;
}
.mainImg{
    height:35%;
    border-radius:50%;
    float:left;
}
#naamText{
    color:black;
    margin-top:10px;
    font-size:34px;
}
p{
    font-size:24px;
}
.doos{
    background-color:#474747;
    width:50%;
    padding-bottom:30px;
    display:inline-block;
}
hr{
    color:gray;
    float:left;
    width:92%;
}
#footer{
    background-color:#474747;
    color:#f8f8f8;
    text-align:center;
}
a{
    text-decoration:none;
}
.characterSite{
    background-color:#797979;
    border:1px solid #acacac;
}
.characterText{
    display:inline-block;
    width:780px;
    margin-top:0px;
}
.stats{
    display:block;
    background-color:#797979;
}
#top{
    margin-top:0;
    padding-bottom:30px;
    background-color:#474747;
    color:#f8f8f8;
    text-align:center;
}
.statsImg{
    float:left;
}
.statsText{
    margin-right:5px;
    margin-right:10px;
    display:inline-block;
}
.statsStats{
   padding-bottom:15px;
}
.weapon{
    margin:0;
    margin-bottom:10px;
}
.armour{
    margin:0;
}
#terugKnop{
    padding-left:85%;
    padding-right:5%;
    font-size:18px;
    float:right;
    text-decoration:none;
    color:#f8f8f8;
    background-color:#474747;
}
.imgText{
    vertical-align:top;
    margin-top:0px;
    display:inline-block;
    width:300px;
}
